<div class="row">
	<div class="col s7">
		<div class="input-field col s12  block   units">
			<input id="name" type="text" class="validate"
			ng-model="vm.unit">
			<label for="name">Новая ед. измерения</label>
		</div>
	</div>
	<div class="col s5   add-new-units">
		<a ng-click="vm.submit($event)"
		class="waves-effect waves-light btn">Add</a>
	</div>
</div>
<ul class="collection">
	<li class="collection-item    units" ng-repeat="unit in vm.units track by unit.id">
		<div class="unit">{{ unit.name }}</div>
		<div class="delete-unit">
			<a ng-click="vm.deleteUnit($event, unit.id)" class="btn-floating   waves-effect waves-light"><i class="material-icons">delete</i></a>
		</div>
	</li>
</ul>